<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if features[:justin_beaver].enabled? %>
  <%= image_tag 'justin_beaver.jpg', width: 200, height: 200 %>
<% else %>
  <%= image_tag 'regular_beaver.jpg', width: 200, height: 200 %>
<% end %>
<%= yield %>

</body>
</html>
